.logo-pic {
    float: left;
    width: 60px;
    border-radius: 12px;
    overflow: hidden;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 5px;
}

@media only screen and (max-width: 450px) and (-webkit-device-pixel-ratio: 2) {
    .page-wrapper {
        position: absolute;
        top: 14.5vh;
        overflow: scroll !important;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        height: 100vh;
        width: 100vw;
    }

        .page-wrapper::-webkit-scrollbar {
            display: none;
        }

    .card {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }
}
