@using Common.DTO.Pledges
@using Common.Entities.Pledges;

<div class="modal fade show @Theme-modal" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog @Theme-modal-dialog">
        <div class="modal-content @Theme-modal-content">
            <div class="modal-header @Theme-modal-header">
                <h4 class="modal-title">@SelectedPledge.Name</h4>
                <button type="button" class="btn btn-danger @Theme-btn-danger" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body @Theme-modal-body">
                @switch(DisplayType)
                {
                    case ModalType.Create:
                    case ModalType.Update:
                        <EditForm Model="@SelectedPledge">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <label class="col-md-3">Name</label>
                            <InputText class="col-md-8" @bind-Value="SelectedPledge.Name"/> 
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-md-3">Description</label>
                            <InputText class="col-md-8" @bind-Value="SelectedPledge.Details"/> 
                        </div>
                        <br />
                        </EditForm>
                    break;
                }

            </div>
            <div class="modal-footer @Theme-modal-footer">
                @switch(DisplayType)
                {
                    case ModalType.Create: 
                        <button type="button" class="btn btn-primary @Theme-btn-primary" @onclick=@ModalOk>Create</button> break;
                    case ModalType.Update:
                        <button type="button" class="btn btn-success @Theme-btn-success" @onclick=@ModalOk>Ok</button>
                        <button type="button" class="btn btn-danger @Theme-btn-danger" @onclick=@ModalCancel>Cancel</button> break;
                }
                
            </div>
        </div>
    </div>
</div>