.cool-mint-card {
    background-color: #93BEC0 !important;
    color: #222 !important;
    border-radius: 10px !important;
}

h4 {
}

.cool-mint-card-header {
    background-color: #93BEC0 !important;
    color: #222 !important;
    border-radius: 10px 10px 0 0 !important;
}

.cool-mint-card-body {
    background-color: #CBF0E8 !important;
    color: #222 !important;
    border-radius: 0 0 0 0 !important;
}

.cool-mint-card-footer {
}

.cool-mint-input {
}

.cool-mint-modal {
    color: #222 !important;
}

.cool-mint-modal-dialog {
    background-color: #222 !important;
}

.cool-mint-modal-content {
    background-color: #93BEC0 !important;
}

.cool-mint-modal-header {
    background-color: #93BEC0 !important;
}

.cool-mint-modal-body {
    background-color: #CBF0E8 !important;
}

.cool-mint-modal-footer {
}

.cool-mint-table {
}

.cool-mint-table-th {
}

.cool-mint-table-tr {
}

.cool-mint-navbar {
    background-color: #93BEC0 !important;
    color: #222 !important;
}

.cool-mint-navbar-item * {
    color: #222 !important;
    font-weight: bold;
}

.cool-mint-navbar-lower {
    color: #222 !important;
    font-weight: bold;
}

.cool-mint-sidebar {
    background-color: #CBF0E8 !important;
    color: #222 !important;
}

.cool-mint-btn-primary {
    background-color: #C4DBE4 !important;
    border: 1px solid #222 !important;
    border-color: #222 !important;
    color: #222 !important;
}

.cool-mint-btn-secondary {
    background-color: #DFCECB !important;
    border: 1px solid #222 !important;
    border-color: #222 !important;
    color: #222 !important;
}

.cool-mint-btn-danger {
    background-color: #C27470 !important;
    border: 1px solid #222 !important;
    border-color: #222 !important;
    color: #222 !important;
}

.cool-mint-btn-warning {
    background-color: #C27470 !important;
    border: 1px solid #222 !important;
    border-color: #222 !important;
    color: #222 !important;
}

.cool-mint-btn-success {
    background-color: #728D73 !important;
    border: 1px solid #222 !important;
    border-color: #222 !important;
    color: #222 !important;
}

.cool-mint-btn-primary:hover {
}

.cool-mint-btn-secondary:hover {
}

.cool-mint-btn-danger:hover {
}

.cool-mint-btn-warning:hover {
}

.cool-mint-btn-success:hover {
}

.cool-mint-accordian-header {
    background-color: #93BEC0 !important;
    border-radius: 10px 10px 0 0 !important;
    color: #f2f2f2 !important;
}

.cool-mint-accordian-body {
    background-color: #CBF0E8 !important;
    border-radius: 0 0 0 0 !important;
    color: #f2f2f2 !important;
}

.cool-mint-accordian-button {
    background-color: #93BEC0 !important;
    border: 1px solid #222 !important;
    border-color: #222 !important;
    color: #222 !important;
}

.cool-mint-accordian-button:focus {
    outline: none;
}
