.default-card {
    background-color: #222 !important;
    color: #f2f2f2 !important;
    border-radius: 10px !important;
}

.default-card-header {
    background-color: #011E2D !important;
    border-radius: 10px 10px 0 0 !important;
}

.default-card-body {
    background-color: #01324B !important;
    border-radius: 0 0 0 0  !important;
}

.default-card-footer {
    background-color: #01324B !important;
    border-radius: 0 0 10px 10px !important;
}

.default-input {
    background-color: #1A465D !important;
    color: #f2f2f2 !important;
}

.default-modal {
    color: #f2f2f2 !important;
}

.default-modal-dialog {
    background-color: #222 !important;
}

.default-modal-content {
    background-color: #011E2D !important;
}

.default-modal-header {
    background-color: #01324B !important;
}

.default-modal-body {
    background-color: #01324B !important;
}

.default-modal-footer {
    background-color: #01324B !important;
}

.default-table {
    color: #f2f2f2 !important;
}

.default-table-th {
    color: #f2f2f2 !important;
}

.default-table-tr {
    color: #f2f2f2 !important;
}

.default-navbar {
    background-color: #011E2D !important;
}

.default-sidebar {
    background-color: #01324B !important;
}

.default-navbar-lower {
    background-color: #01324B !important;
}

.default-accordian-header {
}

.default-accordian-body {
}


.default-btn-primary {
}

.default-btn-secondary {
}

.default-btn-danger {
}

.default-btn-warning {
}
